html{
	background-color:#e7fbf8;
}
body{
	margin:0;
	font-family:"Trebuchet MS",Arial,sans-serif;
	background:url(../img/bg_body.gif) repeat-x 0 0;
}
img{
	border:none;
	display:block;
}
form,fieldset{
	margin:0;
	padding:0;
	border:none;
}
ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
a{
	outline:none;
	text-decoration:none;
	color:#669517;
}
a:hover{
	text-decoration:underline;
}
h1, h2, h3, h4, h5, h6, p{
	margin:0;
}
.main{
	overflow:hidden;
	width:978px;
	margin:0 auto;
	background:url(../img/header.gif) no-repeat 0 0;
	font-size:13px;
}
/*header*/
.header{
	overflow:hidden;
	width:976px;
	background:url(../img/header.gif) no-repeat 0 0;
}
div.logotype{
	overflow:hidden;
	padding:27px 0 0 53px;
}
div.logotype h1 a{
	float:left;
	overflow:hidden;
	background:url(../img/logo.gif) no-repeat 0 0;
	width:249px;
	height:58px;
	text-indent:-9999px;
}
.content_holder{
	overflow:hidden;
	width:978px;
	padding-top:31px;
}
/*menu and search*/
div.menu_search{
	overflow:hidden;
	width:978px;
}
div.menu_search div.menu{
	float:left;
}
div.menu_search div.menu ul{
	overflow:hidden;
	padding:0 0 0 7px;
}
div.menu_search div.menu ul li{
	float:left;
	width:125px;
	text-align:center;
	font-size:12px;
	line-height:18px;
	padding:0 1px 0 1px;
	margin:1px 0 0 0;
}
div.menu_search div.menu ul li a{
	float:left;
	display:block;
	width:125px;
	background:url(../img/tab.png) no-repeat 0 0;
	padding:7px 0 5px 0;
	position:relative;
	cursor:pointer;
	color:#0a7285;
}
div.menu_search div.menu ul li a{
	text-decoration:none;
	text-transform:uppercase;
}
div.menu_search div.menu ul li.active{
	width:128px;
	height:18px;
	margin:0;
}
div.menu_search div.menu ul li.active a{
	background:url(../img/tab_act.gif) no-repeat 0 0;
	width:128px;
	height:18px;
	color:#0a7285;
	padding-top:8px;
}
div.menu_search div.menu ul li.active a:hover{
	background:url(../img/tab_act.gif) no-repeat 0 0 !important;
	width:128px;
}
div.menu_search div.menu ul li a:hover{
	background:url(../img/tab_act_hover.gif) no-repeat 0 0;
	width:125px;
}
div.menu_search div.search{
	float:left;
	padding:2px 0 0 17px;
}
div.menu_search div.search div.form{
	background:url(../img/search.png) no-repeat 0 0;
	float:left;
	width:170px;
	height:20px;
}
div.menu_search div.search input.field{
	float:left;
	background:none;
	border:none;
	width:135px;
	padding:2px 0 0 10px;
	font:12px Arial,Tahoma,sans-serif;
	color:#0a7285;
	position:relative;
}
div.menu_search div.search input.submit{
	float:left;
	background:url(../img/magnifer.gif) no-repeat 0 0;
	border:none;
	display:inline;
	width:16px;
	height:13px;
	padding:0;
	margin:3px 0 0 3px;
	cursor:pointer;
}
/*content*/
.content{
	overflow:hidden;
	width:976px;
	border:1px #42aec2 solid;
	background-color:#fff;
	margin:-1px 0 0 0;
	padding:0 0 15px 0;
}
/*left_column*/
.left_column{
	float:left;
	width:700px;
}
.left_column h3,
.left_column h4{
	margin-top:16px;
}

.left_column .archive-heading{
	margin:18px 0 0 47px;
	float:left;
	width:100%;
	overflow:hidden;
	font:bold 21px/24px Trebuchet MS,Arial, sans-serif,Tahoma;
	color:#669517;
	font-weight:normal;
	padding:0;
	background:none;
}

/*right_column*/
.right_column{
	float:right;
	overflow:hidden;
	width:255px;
	padding:0 10px 0 0;
}
div.rss{
	overflow:hidden;
	width:254px;
	padding:9px 0 0 12px;
}
div.rss a{
	background:url(../img/rss.gif) no-repeat 0 50%;
	font-weight:bold;
	color:#dd7a27;
	padding:10px 0 3px 40px;
	line-height:30px;
}
div.yellow_star{
	overflow:hidden;
	background:url(../img/blue.gif) no-repeat 0 0;
	width:254px;
	height:37px;
	padding:10px 0 0 0;
}
div.yellow_star p{
	float:left;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	line-height:18px;
	background:url(../img/star_yellow.gif) no-repeat 0 50%;
	padding:0 0 0 20px;
	margin:0 0 0 14px;
	display:inline;
}
div.yellow_star span{
	float:right;
	color:#0a7285;
	font-size:12px;
	line-height:18px;
	padding:0 18px 0 0;
	margin:0 !important;
}
div.yellow_star span a{
	color:#0a7285;
	text-decoration:underline;
}
div.yellow_star span a:hover{
	text-decoration:none;
}
div.css_html{
	overflow:hidden;
	padding:8px 0 0 0;
}
div.opera{
	overflow:hidden;
	padding:16px 0 0 0;
}
div.opera ul{
	overflow:hidden;
	float:left;
}
div.opera ul li{
	float:left;
}
div.opera ul li.pad{
	padding:0 4px 8px 0;
}
div.host{
	overflow:hidden;
	width:234px;
	padding:0 0 6px 10px;
}
div.host p{
	width:234px;
	text-align:center;
	font:12px Verdana,Arial,sans-serif;
	color:#999;
	line-height:16px;
	padding:2px 0 7px 0;
}
/*blue baloon*/
div.baloon{
	overflow:hidden;
	width:254px;
	background:url(../img/blue_bal_center.gif) repeat-y 100% 0;
	margin:14px 0 0 0;
}
div.baloon_top{
	overflow:hidden;
	width:254px;
	background:url(../img/blue_bal_top.gif) no-repeat 0 0;
	padding:9px 0 0 0;
}
div.baloon_bottom{
	overflow:hidden;
	width:254px;
	background:url(../img/blue_bal_bottom.gif) no-repeat 100% 100%;
	padding:0 0 8px 0;
}
div.baloon strong{
	overflow:hidden;
	background:url(../img/house.gif) no-repeat 0 50%;
	font-size:12px;
	color:#fff;
	line-height:16px;
	padding:0 0 0 25px;
	margin:0 0 0 25px;
}
div.baloon ul{
	overflow:hidden;
	width:243px;
	margin:7px 0 0 11px;
}
div.baloon ul li{
	float:left;
	width:243px;
	line-height:16px;
	background:url(../img/dotted_line.gif) no-repeat 22px 100%;
	margin:-1px 0 0 0;
}
div.baloon ul li.last{
	background:none;
}
div.baloon ul li a{
	float:left;
	width:241px;
	display:inline;
	color:#fff;
	padding:3px 0;
	cursor:pointer;
	margin:0 0 0 1px;
}
div.baloon ul li a:hover{
	background-color:#75c4d3;
}
div.baloon ul li a span{
	font-size:13px !important;	
	float:left;
	background:url(../img/christ.gif) no-repeat 0 7px;
	padding:0 0 0 12px;
	margin:0 0 0 27px;
}
div.baloon ul li a em{
	font-size:13px !important;
	float:right;
	color:#fff;
	font-style:normal;
	padding:0 25px 0 0;
}
/*orange baloon*/
div.orange_baloon div.baloon{
	background:url(../img/orange_bal_center.gif) repeat-y 100% 0;
}
div.orange_baloon div.baloon_top{
	background:url(../img/orange_bal_top.gif) no-repeat 0 0;
}
div.orange_baloon div.baloon_bottom{
	background:url(../img/orange_bal_bottom.gif) no-repeat 100% 100%;
}
div.orange_baloon div.baloon strong{
	background:url(../img/friends.gif) no-repeat 0 50%;
}
div.orange_baloon div.baloon div.css_image{
	overflow:hidden;
	width:82px;
	height:17px;
	padding:4px 0 0 50px;
}
div.orange_baloon div.baloon ul li a:hover{
	background-color:#f2a263;
}
/*green baloon*/
div.green_baloon div.baloon{
	background:url(../img/green_bal_center.gif) repeat-y 100% 0;
}
div.green_baloon div.baloon_top{
	background:url(../img/green_bal_top.gif) no-repeat 0 0;
}
div.green_baloon div.baloon_bottom{
	background:url(../img/green_bal_bottom.gif) no-repeat 100% 100%;
}
div.green_baloon div.baloon strong{
	background:url(../img/meta.gif) no-repeat 0 50%;
}
div.green_baloon div.baloon ul li a:hover{
	background-color:#bfc961;
}
/*blue baloon*/
div.blue_baloon div.baloon{
	background:url(../img/dark_blue_bal_center.gif) repeat-y 100% 0;
	color:#fff;
}
div.blue_baloon div.baloon_top{
	background:url(../img/dark_blue_bal_top.gif) no-repeat 0 0;
}
div.blue_baloon div.baloon_bottom{
	background:url(../img/dark_blue_bal_bottom.gif) no-repeat 100% 100%;
}
div.blue_baloon strong{
	background:url(../img/tag.gif) no-repeat 0 50%;
}
div.blue_baloon div.baloon_bottom div.inner{
	padding:0 10px 0 20px;
}
div.blue_baloon div.baloon_bottom div.inner strong{
	display:block;
	margin:0 0 0 5px;
	width:180px;
}
div.blue_baloon div.baloon_bottom div.inner a{
	color:#fff;
}
div.blue_baloon div.baloon ul li a:hover{
	background-color:#bfc961;
}
div.blue_baloon div.baloon h3{
	overflow:hidden;
	font-size:20px;
	padding:16px 20px 0 20px;
	font-weight:normal;
	line-height:20px;
	text-align:center;
}
div.blue_baloon div.baloon p{
	font-size:16px;
	padding:0 33px;
	line-height:20px;
	text-align:center;
}
div.blue_baloon div.baloon p span{
	display:block;
	font-size:12px;
	padding:0 12px;
	text-align:center;
}
/*footer*/
.footer{
	overflow:hidden;
	clear:both;
}
.footer p{
	font-family:Arial,Tahoma,sans-serif;
	font-size:12px;
	color:#404040;
	padding:30px 0 40px 0;
}
.footer p em{
	float:left;
	font-style:normal;
	padding:0 0 0 22px;
}
.footer p span{
	float:right;
	padding:0 35px 0 0;
}
.footer p a{
	color:#42aec2;
}
/*HOME PAGE*/
div.home{
	overflow:hidden;
	width:677px;
	padding:0 0 0 23px;
}
div.home ul{
	overflow:hidden;
	width:677px;
	padding:8px 0 0 0;
}
div.home ul li{
	overflow:hidden;
	width:678px;
	padding:30px 0 0 0;
}

div.calendar{
	float:left;
	background:url(../img/calendar.gif) no-repeat 0 0;
	width:42px;
	height:44px;
	text-align:center;
}
div.calendar p{
	font-size:10px;
	color:#fff;
	line-height:16px;
}
div.calendar p span{
	font-size:12px;
	font-weight:bold;
	color:#878181;
	display:block;
	padding:1px 5px 0 5px;
	line-height:12px;
}
div.li_cont{
	float:right;
	overflow:hidden;
	width:600px;
	padding:0 20px 0 0;
	color:#404040;
	line-height:16px;
}
div.li_cont a{
	color:#669517;
}
div.li_cont div.title{
	overflow:hidden;
	width:600px;
}
div.li_cont div.title div.name{
	overflow:hidden;
	width:600px;
	background:url(../img/dotted_line.gif) repeat-x 0 100%;
	padding:0 0 3px 0;
}
div.li_cont div.title div.name a.li_name{
	overflow:hidden;
	float:left;
	width:470px;
	font-size:24px;
	font-weight:normal;
	color:#cc6600;
	line-height:28px;
}
div.li_cont div.title div.name a.li_name:hover{
	color:#42aec2;
	text-decoration:none;
	cursor: pointer;
}
div.li_cont div.title div.name p{
	float:right;
	color:#999;
	background:url(../img/friends1.gif) no-repeat 0 50%;
	padding:0 0 0 20px;
	line-height:28px;
}
div.li_cont div.title div.sub_name{
	overflow:hidden;
	width:600px;
	padding:3px 0 0 0;
}
div.li_cont div.title div.sub_name p{
	float:left;
	color:#999;
}
div.li_cont div.title div.sub_name ul{
	float:right;
	width:300px;
	padding:0;
}
div.li_cont div.title div.sub_name ul li{
	float:right;
	color:#669517;
	padding:0 0 0 8px;
	width:auto;
}
div.li_cont div.title div.sub_name ul li a.perman{
	background:url(../img/permanent.gif) no-repeat 0 50%;
	padding:0 0 0 15px;
}
div.li_cont div.title div.sub_name ul li a.add_com{
	background:url(../img/add_com.gif) no-repeat 0 50%;
	padding:0 0 0 18px;
}
div.paragraph{
	overflow:hidden;
	padding:6px 0 0 0;
}
div.paragraph p{
	padding:16px 0 0 0;
}
div.home div.css_example{
	padding:12px 0 20px 0;
}
div.css_example{
	overflow:hidden;
	padding:8px 0 8px 0;
}
div.css_example p{
	padding:0 !important;
	font-size:12px important;
	margin:2px 0 0 0 important;
}
div.css_example p.width{
	padding:0 0 0 67px !important;
}
div.css_example p.width1{
	padding:0 0 0 115px !important;
}
div.css_example span{
	background-color:#ddffb2;
	padding:0 5px 0 5px;
	font-family:Monaco,monospace;
}
div.css_example span em{
	color:#003f9e;
	font-style:normal;
}
div.read_more_images{
	overflow:hidden;
	padding:20px 0 0 0;
}
div.read_more_images p{
	float:left;
	color:#669517;
}
div.read_more_images p a{
	text-decoration:underline;
}
div.read_more_images p a:hover{
	text-decoration:none;
}
div.read_more_images ul{
	float:right;
	width:300px;
	padding:0 17px 0 0;
}
div.read_more_images ul li{
	float:right;
	padding:0 0 0 10px;
	width:auto;
}
div.home ul.selector{
	width:580px;
	padding-left:12px;
}
ul.selector{
	overflow:hidden;
}
ul.selector li{
	padding:3px 0 0 0 !important;
}
ul.selector li a{
	background:url(../img/christ_green.gif) no-repeat 0 8px;
	padding:0 0 0 10px;
}
ul.selector li a:hover{
	background:url(../img/christ_blue.gif) no-repeat 0 8px;
	text-decoration:none;
	color:#42aec2;
}
div.li_cont div.ads{
	overflow:hidden;
	float:left;
	width:598px;
	border:1px #ccc solid;
	background-color:#f5fafd;
	padding:0 0 10px 0;
	margin:35px 0 0 0;
}
div.li_cont div.ads h4{
	font-size:14px;
	padding:8px 0 0 43px;
}
div.li_cont div.ads ul{
	overflow:hidden;
}
div.li_cont div.ads ul li{
	float:left;
	width:215px;
	padding:0 20px 0 43px;
}
div.li_cont div.ads ul li a{
	font-size:12px;
	font-weight:bold;
	color:#3d81ee;
	text-decoration:underline;
}
div.li_cont div.ads ul li a:hover{
	text-decoration:none;
}
div.li_cont div.ads ul li p{
	font-family: Verdana;
	font-size:10px;
	color:#7a7a7a;
	line-height:12px;
}
div.three_links{
	overflow:hidden;
}
div.three_links ul{
	float:left;
	width:300px;
	padding:6px 0 0 43px;
}
div.three_links li{
	width:13px !important;
	padding:0 2px 0 0 !important;
}
div.three_links div.google{
	float:right;
	width:100px;
	padding:4px 0 0 0;
}
div.page{
	overflow:hidden;
	padding:27px 0 0 52px;
	width:600px;
}
div.page p{
	float:left;
	font-weight:bold;
	color:#cc6600;
	line-height:16px;
}
div.page ul{
	float:left;
	width:500px;
	padding:0 0 0 5px;
}
div.page ul li{
	float:left;
	color:#66adbd;
	padding:0;
	font-size:12px;
	line-height:16px;
	padding:0 3px;
	width:auto;
}
div.page ul li.active{
	padding-top:1px;
	padding-right:8px;
}
div.page ul li a{
	color:#66adbd;
	display:block;
	border:1px #66adbd solid;
	padding:0 5px;
}
div.page ul li a:visited{
	color:#d0eeef;
	border:1px #d0eeef solid;
	text-decoration:none;
}
div.page ul li.dots a{
	border:none !important;
	padding-top:2px;
}
div.page ul li.dots a:hover{
	border:none;
	text-decoration:none;
}
div.page ul li a:hover{
	color:#d0eeef;
	border:1px #d0eeef solid;
	text-decoration:none;
}
div.page ul li.next a, div.page ul li.prev a{
	border:none;
	padding-top:1px;
	font-size:13px;
	font-weight:bold;
	color:#4797a9;
}
div.page ul li.next a:hover{
	border:none;
	color:#d0eeef;
}
div.page ul li.next a:visited{
	color:#66adbd;
	border:none;
}
/*aboutus_closed page*/
#left_column{
	width:631px;
	margin:18px 0 0 47px;
	padding:0 0 34px 0;
}
ul.pages{
	overflow:hidden;
	float:left;
	width:100%;
	padding-bottom:16px;
}
ul.pages li{
	float:left;
	width:auto !important;
	font:bold 13px/16px Trebuchet MS,Arial, sans-serif,Tahoma;
	color:#669517;
	font-weight:normal;
	padding:0 5px 0 0 !important;
}
.pages li.middle a{
	font-weight:normal;
}
.pages li.active{
	color:#999;
}
.pages li a{
	color:#669517;
	float:left;
	font-weight:bold;
}
h2{
	font:24px/24px Trebuchet MS,Arial, sans-serif,Tahoma;
	color:#cc6600;
	padding-bottom:9px;
	background:url(../img/left_column-h2-under.gif) repeat-x 0 100%;
}
#left_column p{
	margin:13px 0 0 0;
	padding:0 0 3px 0;
	font:13px/16px Trebuchet MS,Arial, sans-serif,Tahoma;
	text-align: justify;
}
#left_column .list{
	width:100%;
	overflow:hidden;
	margin:17px 0 0 0;
	padding:0 0 22px 0;
}
#left_column .list li{
	font:13px/13px Trebuchet MS,Arial, sans-serif,Tahoma;
	padding:0 0 7px 0;
}
#left_column .list li a{
	color:#669517;
	background:url(../img/left_column-list-mark.gif) no-repeat 0 7px;
	padding:0 0 0 11px; 
}
#left_column .list li a:hover{
	background:url(../img/christ_blue.gif) no-repeat 0 8px;
	text-decoration:none;
	color:#42aec2;
}
div.paragraph ul.selector li a:hover{
	background:url(../img/christ_blue.gif) no-repeat 0 8px;
	text-decoration:none;
	color:#42aec2;
}
#left_column .list li a:hover{
	color:#42aec2;
	background:url(../img/left_column-list-mark-active.gif) no-repeat 0 7px;
}
/*selectors-test page*/
h3.selectors{
	font:24px/24px Trebuchet MS,Arial, sans-serif,Tahoma;
	color:#cc6600;
	margin:12px 0 0 0;
	padding:0 0 4px 0;
}
#left_column .selectors-test p{
	padding:0 0 4px 0;
}
#left_column .selectors-test p a{
	color:#669517;
}
#left_column h4 {
	padding:0 0 2px 0;
}
a.btn_start{
	text-indent:-9999px;
	overflow:hidden;
	background:url(../img/btn-selectors-test.gif) no-repeat 0 0px;
	display:block;
	width:246px;
	height:42px;
	margin:17px 0 23px 0;
}
#left_column .selectors-test  .small-p{
	margin:16px 0 0 0;
	font:11px/16px Trebuchet MS,Arial, sans-serif,Tahoma;
}
/*selectors-testDONE page*/
#left_column .selectors-test .done h4 a{
	text-indent:-9999px;
	overflow:hidden;
	background:url(../img/btn-selectors-test-done.gif) no-repeat 0 0px;
	display:block;
	width:246px;
	height:42px;
	margin:17px 0 0 0;
}
#left_column .selectors-test .table{
	width:631px;
	background:url(../img/stretch-table.gif) repeat-y 0 0px;
	overflow:hidden;
}
#left_column .selectors-test .top{
	background:url(../img/table-top.gif) no-repeat 0 0px;
	overflow:hidden;
	width:631px;
}
#left_column .selectors-test .bottom{
	background:url(../img/table-bottom.gif) no-repeat 0 100%;
	overflow:hidden;
	height:100%;
	padding:0 0 39px 0;
}
#left_column .selectors-test .bottom p{
	font:13px/16px Trebuchet MS,Arial, sans-serif,Tahoma;
	color:#404040;
	width:570px;
	float:left;
	margin:34px 0 0 30px;
	display:inline;
	padding:0 0 14px 0;
}
#left_column .selectors-test .bottom ul{
	width:570px;
	margin:0 0 0 30px;
	float:left;
	display:inline;
}
#left_column .selectors-test .bottom ul li{
	margin:4px 0 0 0;
	width:100%;
	font:13px/32px Trebuchet MS,Arial, sans-serif,Tahoma;
	padding:0 0 0 6px;
	float:left;
	background:#78ae0a;
	color:#fff;
}
#left_column .selectors-test .bottom ul li a{
	color:#fff;
	background:none;
}
#left_column .selectors-test .bottom ul li span{
	padding:0 0 0 30px;
	font:10px/10px Trebuchet MS,Arial, sans-serif,Tahoma;
}
#left_column .selectors-test .bottom ul li.red{
	background:#e97143;
}
#left_column .selectors-test .bottom ul li.crimson{
	background:#b2302d;
}
#left_column .selectors-test .list{
	padding-bottom:24px;
}
/*AUTHOR PAGE*/
div.author{
	width:631px;
	padding:20px 0 0 45px;
}
div.photo_text{
	overflow:hidden;
	padding:24px 0 0 0;
}
div.photo_text div.photo{
	float:left;
	width:125px;
	height:125px;
}
div.photo_text div.photo img{
	border:1px #c2e2e8 solid;
}
div.photo_text div.text{
	float:left;
	width:472px;
	padding:0 0 0 33px;
}
div.photo_text div.text a{
	background:url(../img/house1.gif) no-repeat 0 0;
	padding:0 0 0 20px;
}
div.photo_text div.text p{
	line-height:16px;
	padding:7px 0 0 0;
	text-align:justify;
}
div.pieces{
	overflow:hidden;
	padding:10px 0 0 0;
}
div.pieces ul{
	overflow:hidden;
	float:left;
	width:631px;
}
div.pieces ul li{
	float:left;
	width:631px;
	padding:15px 0 0 0;
}
div.pieces ul li h4{
	color:#404040;
	font-size:13px;
}
div.author div.pieces table{
	margin-top:10px;
}
div.pieces table{
	width:631px;
}
div.pieces table a:hover{
	text-decoration:none;
	color:#42aec2;
}
div.pieces table tr{
	height:30px;
}
div.pieces table tr.bold{
	background:url(../img/dotted_line.gif) repeat-x 0 100%;
	height:33px;
}
div.pieces table tr.bold a{
	font-weight:bold;
	background:url(../img/arrow_down.gif) no-repeat 100% 8px;
	color:#404040;
	padding:0 10px 0 0;
	line-height:16px;
}
div.pieces table tr.bold a:hover{
	text-decoration:none;
	color:#404040;
}
div.pieces table td.update{
	width:360px;
}
div.pieces table td.comments{
	width:130px;
}
div.pieces table td.comments a{
	background:url(../img/arrow_up.gif) no-repeat 100% 8px;
}
div.pieces table td.date{
	width:auto;
}
a.christ{
	background:url(../img/christ_green.gif) no-repeat 0 8px;
	padding:0 0 0 10px;
}
a.christ:hover{
	background:url(../img/christ_blue.gif) no-repeat 0 8px;
	color:#42aec2;
}
div.pieces table td a.number_com{
	background:url(../img/comments.gif) no-repeat 0 50%;
	padding:0 0 0 18px;
}
.clock{
	font-size:12px;
	background:url(../img/clock.gif) no-repeat 0 1px;
	padding:0 0 0 18px;
	color:#999;
	line-height:16px;
}
div.written{
	overflow:hidden;
	width:631px;
}
div.written ul{
	overflow:hidden;
}
div.written ul li{
	float:left;
	width:631px;
}
div.written ul li div.image{
	float:left;
	overflow:hidden;
	width:12px;
	height:12px;
	padding:4px 0 0 0;
}
div.written ul li.last div.text{
	background:none;
}
div.written ul li div.text{
	float:left;
	width:603px;
	padding:0 0 15px 0;
	margin:0 0 0 15px;
	display:inline;
	line-height:18px;
	background:url(../img/dotted_line.gif) repeat-x 0 100%;
}
div.written ul li div.text span{
	float:left;
	color:#999;
	padding:4px 0 0 0;
}
div.written ul li div.text em{
	float:right;
	font-size:12px;
	font-style:normal;
	color:#999;
	padding:4px 0 0 0;
}
div.author div.page{
	overflow:hidden;
	padding:27px 0 0 0;
	width:600px;
}
/*POST PAGE*/
a.blue:hover{
	color:#42aec2;
}
div.post div.css_example{
	padding-top:26px;
}
div.post div.css_example span{
	background-color:#f2ffe1;
}
div.post div.css_example span em{
	color:#00aad9;
}
div.post div.safari{
	overflow:hidden;
	width:510px;
	height:135px;
	padding:17px 0 17px 0;
}
div.post div.read_more_images p{
	color:#999;
}
div.post div.read_more_images p a{
	text-decoration:none;
}
div.post div.read_more_images p a:hover{
	text-decoration:underline;
}
div.says{
	overflow:hidden;
	float:left;
	width:657px;
	padding:10px 0 20px 0;
}
div.post div.says h2{
	margin:0 0 0 57px;
}
div.says ul{
	overflow:hidden;
	padding-top:3px;
}
div.says ul li{
	overflow:hidden;
	padding:0;
	width:656px;
	float:left;
	margin:12px 0 0 0;
}
div.says ul li span.number{
	float:left;
	font-size:12px;
	color:#a2c2c8;
	padding:32px 0 0 20px;
}
div.says ul li div.alex_says{
	overflow:hidden;
	float:right;
	background:url(../img/round_cen_blue.gif) repeat-y 100% 0;
	width:611px;
}
div.alex_says_top{
	background:url(../img/round_top_blue.gif) no-repeat 0 0;
}
div.avatar_text{
	overflow:hidden;
	background:url(../img/round_bot_blue.gif) no-repeat 100% 100%;
	padding:15px 0 11px 0;
	width:100%;
}
div.avatar_text div.avatar{
	float:left;
	overflow:hidden;
	width:47px;
	height:47px;
	padding:0 0 0 30px;
}
div.avatar_text div.avatar img{
	border:1px #cee7ec solid;
}
div.avatar_text div.text{
	float:left;
	width:505px;
	padding:0 0 0 15px;
}
div.avatar_text div.text span{
	overflow:hidden;
	width:500px;
	padding:0 0 10px 0;
}
div.avatar_text div.text strong a{
	float:left;
	color:#dd7a27;
	font-style:italic;
}
div.avatar_text div.text strong{
	float:left;
	color:#404040;
	font-style:italic;
}
div.avatar_text div.text strong.black_str{
	color:#404040;
}
div.avatar_text div.text em{
	float:left;
	color:#999;
	font-style:normal;
	padding:0 0 0 5px;
}
div.avatar_text div.text a.pencil{
	float:right;
	background:url(../img/pencil.gif) no-repeat 0 50%;
	padding:0 0 0 18px;
}
div.avatar_text div.text a.clock{
	color:#669517;
	background-position: 0 0;
}
div.avatar_text div.text span{
	float:left;
}
div.avatar_text p{
	color:#404040;
	overflow:hidden;
	width:565px;
	padding:15px 0 14px 31px;
	line-height:18px;
	float:left;
}
div.quots{
	margin:0 0 0 31px;
	position:relative;
	width:560px;
}
div.quots p{
	padding:0 0 0 22px !important;
	font-style:italic;
	width:520px;
}
div.quots div.left_quots{
	position:absolute;
	top:0;
	left:0;
}
div.quots div.right_quots{
	position:absolute;
	bottom:0;
	right:0;
}
li.green_field{
	overflow:hidden;
}
li.green_field div.alex_says{
	background:url(../img/round_cen_green.gif) repeat-y 100% 0 !important;
}
li.green_field div.alex_says_top{
	background:url(../img/round_top_green.gif) no-repeat 0 0;
}
li.green_field div.avatar_text{
	background:url(../img/round_bot_green.gif) no-repeat 100% 100%;
}
/*form*/
div.leave{
	overflow:hidden;
	width:600px;
/*	padding:0 0 0 57px; */
	padding:0;
}
div.leave-comments{
	padding:0 0 0 57px;
}
div.leave div.form{
	overflow:hidden;
	background:url(../img/round_cen_blue_form.gif) repeat-y 0 0 !important;
	margin:9px 0 0 0;
	color:#638c94;
}
div.leave div.form div.form_top{
	overflow:hidden;
	background:url(../img/round_top_blue_form.gif) no-repeat 0 0;
}
div.leave div.form div.form_bottom{
	overflow:hidden;
	background:url(../img/round_bot_blue_form.gif) no-repeat 0 100%;
}
div.leave div.left_part{
	float:left;
	width:400px;
	padding:37px 0 0 0;
}
div.leave div.label_field{
	overflow:hidden;
	float:left;
	width:393px;
	padding:0 0 0 0;
}
div.leave div.label_field label{
	float:right;
	padding:0 5px 0 0;
	line-height:36px;
}
div.leave div.label_field label span{
	color:#ff0000;
}
div.leave div.label_field input{
	float:right;
	width:297px;
	height:19px;
	border:1px #c9e5ea solid;
	padding:2px 5px 2px 5px;
	margin:1px 1px 0 0;
	color:#638c94;
}
div.leave div.right_part{
	float:left;
}
div.leave div.right_part p{
	font-size:12px;
	color:#999;
	padding:80px 0 0 0;
}
div.leave div.form textarea{
	width:548px;
	height:92px;
	border:1px #c9e5ea solid;
	padding:2px 5px 2px 5px;
	margin:10px 0 0 20px;
	color:#638c94;
}
div.leave div.form div.check_submit{
	overflow:hidden;
	width:564px;
	padding:15px 0 22px 17px;
	float:left;
}
div.leave div.form div.check_submit input{
	float:left;
	margin:6px auto;
	width:auto !important;
}
div.leave div.form div.check_submit label{
	float:left;
	padding:6px 0 0 6px;
}
div.leave div.form div.check_submit input.submit{
	float:left;
	background:url(../img/btn_submit_cont.gif) no-repeat 0 0;
	width:158px !important;
	height:34px;
	border:none;
	cursor:pointer;
	font-size:16px;
	font-family:Trebuchet MS,Times,serif;
	color:#fff;
	padding:0 0 3px 0;
	margin:0 0 0 247px;
}
div.leave div.form div.check_submit input.comment-submit{
	float:right;
	background:url(../img/btn_submit_cont.gif) no-repeat 0 0;
	width:158px !important;
	height:34px;
	border:none;
	cursor:pointer;
	font-size:16px;
	font-family:Trebuchet MS,Times,serif;
	color:#fff;
	padding:0 0 3px 0;
	margin:0;
}
*+html div.leave div.form div.check_submit input.submit{
	margin:0 0 0 230px;
}
/*OPEN PAGE*/
div.open{
	overflow:hidden;
	width:631px;
	padding:9px 0  0 50px;
}
div.open h4{
	color:#404040;
	font-size:13px;
}
div.open_text{
	overflow:hidden;
	width:631px;
	padding:15px 0 0 0;
}
div.open_text p{
	padding:10px 0 7px 0;
}
div.profile{
	overflow:hidden;
	float:left;
	width:631px;
	background:url(../img/round_cen_blue_open.gif) repeat-y 0 0 !important;
	margin:20px 0 0 0;
}
div.profile div.profile_top{
	overflow:hidden;
	float:left;
	width:631px;
	background:url(../img/round_top_blue_open.gif) no-repeat 0 0;
}
div.profile div.profile_bottom{
	overflow:hidden;
	float:left;
	width:631px;
	background:url(../img/round_bot_blue_open.gif) no-repeat 0 100%;
}
div.profile div.photo_text{
	padding-top:40px;
}
div.profile div.photo_text div.photo{
	padding-left:40px;
}
div.profile div.photo_text div.text{
	overflow:hidden;
	float:left;
	width:388px;
	padding-left:40px;
}
div.profile div.photo_text div.text h2{
	overflow:hidden;
	width:388px;
	padding-bottom:4px;
}
div.profile div.photo_text div.text h2 span{
	float:left;
}
div.profile div.photo_text div.text h2 a{
	float:right;
	background:none;
	font-size:13px;
	text-decoration:underline;
}
div.profile div.photo_text div.text h2 a:hover{
	text-decoration:none;
}
div.profile div.photo_text div.text a{
	margin:5px 0 0 0;
	float:left;
}
div.profile div.photo_text div.text p{
	float:left;
	width:388px;
	padding:10px 0 0 0;
}
div.open div.pieces{
	float: left;
	padding:24px 0 0 42px;
}
div.open div.pieces table{
	width:550px;
}
div.open div.pieces table td.update{
	width:290px;
}
div.open div.written{
	width:550px;
	padding:17px 0 12px 42px;
}
div.open div.written ul{
	width:550px;
	padding:0;
	margin:-5px 0 0 0;
}
div.open div.written ul li{
	width:550px;
	padding:16px 0 0 0;
}
div.open div.written ul li div.text{
	width:522px;
}
div.open ul.selector{
	width:630px;
	padding:11px 0 0 0;
}
div.open ul.selector li a:hover{
	text-decoration:underline;
}
div.want_to_join{
	padding:28px 0 0 0;
}
/*MODULE STATUS PAGE*/
div.module{
/*	padding:6px 0 0 42px; */
	padding:0;
	width:631px;
}
div.module strong{
	font-size:13px;
	padding:0 0 17px 0;
	display:block;
	line-height:16px;
}
div.module_table{
	padding:18px 0 0 0;
}
div.module_table table{
	width:631px;
}
div.module_table table tr{
	height:30px;
}
div.module_table table h5{
	font-size:13px;
	font-weight:bold;
	color:#cc6600;
}
div.module_table table a:hover{
	color:#42aec2;
}
div.module_table table tr.first{
	font-weight:bold;
	color:#404040;
	background:url(../img/dotted_line.gif) repeat-x 0 100%;
}
div.module_table table tr.first td{
	padding:0 0 7px 0;
}
div.module_table table td.mod{
	width:250px;
}
div.module_table table td.upd{
	width:150px;
}
div.module_table table td.brow{
	width:160px;
}
div.module_table table a.posit{
	color:#999;
}
div.mod_tab_another{
	padding-top:24px;
}
div.mod_tab_another table td.mod{
	width:170px;
}
div.mod_tab_another table td.upd{
	width:230px;
}
div.module_table table td.brow{
	width:160px;
}
/*PREVIEWINNER PAGE*/
div.winner{
	width:631px;
/*	padding:8px 0 0 42px; */
	padding:0px;
}
div.ex_anot{
	padding-top:22px;
}
div.orange_border{
	overflow:hidden;
}
div.orange_border span{
	overflow:hidden;
	border: 1px #000 double;
	line-height: 30px;
}
div.orange_border{
	overflow:hidden;
	margin:-4px 0 0 0;
}
div.orange_border img{
	padding:8px 0 0 0;
}
ul.border_image{
	overflow:hidden;
	padding:13px 0 33px 0 !important;
}
ul.border_image li{
	font-size:14px;
	line-height:18px;
	padding:0 0 0 15px !important;
	background:url(../img/christ_black.gif) no-repeat 0 9px;
	margin:5px 0 0 25px;
}
ul.border_image li.first{
	margin:0;
	font-weight:bold;
}
div.winner div.profile_bottom{
	padding:0 0 14px 0;
}
div.winner div.profile h2{
	width:570px;
	font-size:13px;
	font-weight:bold;
	margin:26px 0 0 30px;
}
div.winner div.profile p{
	width:570px;
	padding:0px 0 0px 30px !important;
	font-style:italic !important;
	line-height:18px !important;
	word-spacing:2px !important;
}
div.winner div.profile p a{
	color:#42aec2;
	font-weight:bold;
}
ul.three_col{
	overflow:hidden;
	width:631px;
	float:left;
	padding-top:22px !important;
}
ul.three_col li{
	float:left;
	width:190px !important;
	padding:0 !important;
	line-height:18px;
}
ul.three_col li.central{
	padding:0 35px !important;
}
ul.orange_text{
	overflow:hidden;
	padding:0 0 0 30px !important;
}
ul.orange_text li{
	padding:5px 0 0 0 !important;
}
ul.orange_text li a{
	color:#cc6600;
	background:url(../img/christ_orange.gif) no-repeat 0 8px;
	padding:0 0 0 15px;
}


/*css3preview*/
#list{
	width:640px;
	overflow:hidden;
	margin:10px 0 0 0;
}
#list .list{
	overflow:hidden;
	width:630px;
	margin:-1px 0 0 0;
	padding:0 0 14px 0;
	background:url(../img/dotted_line1.gif) repeat-x 0 0;
}
#list .list .box{
	float:left;
	width:150px;
	padding-right:60px;
	display:inline;
	overflow:hidden;
}
#list .list .box .title{
	font:13px/16px Trebuchet MS,Arial, sans-serif,Tahoma;
	color:#cc6600;
	padding-bottom:17px;
	float:left;
	width:150px;
	margin:17px 0 0 0;
	text-transform:uppercase;
}
#left_column .list .box  li a:hover{
	color:#42aec2 !important;
}
#left_column .list .box  li{
	float:left;
	width:100%;
	font:14px/16px Trebuchet MS,Arial, sans-serif,Tahoma;
}
#left_column .list .box  li a{
	float:left;
}
#left_column .list .box .second{
	width:150px;
	overflow:hidden;
	margin-left:10px;
}
#left_column .list .box .third{
	width:150px;
	overflow:hidden;
	margin:0 0 0 35px;
}
#left_column .list .box .off a{
	color:#999;
	background:url(../img/christ_gray.gif) no-repeat 0 7px;
}
#left_column .list .box .off a:hover{
	color:#42aec2;
	background:url(../img/christ_blue.gif) no-repeat 0 7px;
}

/* contact_us.psd*/
div.contact_us div.leave{
	width:631px;
}
div.contact_us div.leave div.form{
	background:url(../img/round_cen_blue_open.gif) repeat-y 0 0 !important;
}
div.contact_us div.leave div.form div.form_top{
	background:url(../img/round_top_blue_open.gif) no-repeat 0 0;
}
div.contact_us div.leave div.form div.form_bottom{
	background:url(../img/round_bot_blue_open.gif) no-repeat 0 100%;
}
div.contact_us div.check_submit{
	width:597px !important;
}
div.contact_us textarea{
	width:575px !important;
}
div.contact_us div.leave{
	padding:0;
}
div.check_submit input.submit{
	float:right;
	background:url(../img/btn-submit-form.gif) no-repeat 0 0;
	width:84px !important;
	height:34px;
	border:none;
	cursor:pointer;
	font-size:16px;
	font-family:Trebuchet MS,Times,serif;
	color:#fff;
	padding:0 0 3px 0;
	margin:0;
}
div.leave div.form div.code label{
	float:left;
	padding:24px 0 0 21px;
}
div.leave div.form div.code label span{
	font:bold 16px/16px Trebuchet MS,Times,serif;
}
div.leave div.form div.code input{
	float:left;
	display:inline;
	width:66px;
	height:19px;
	border:1px #c9e5ea solid;
	padding:2px 5px 2px 5px;
	margin:18px 0 0 8px;
	color:#638c94;
}
.subscribe-to-comments{
	display:none;
}
div.sociable{
	float:right;
	margin:0 !important;
}
div.contactform input{
	float:right;
	width:297px;
	height:19px;
	border:1px #c9e5ea solid;
	padding:2px 5px 2px 5px;
	margin:1px 1px 0 0;
	color:#638c94;
}
div.leave div.label_field label{
	float:right;
	padding:0 5px 0 0;
	line-height:36px;
}
div.leave div.label_field label span{
	color:#ff0000;
}
div.code br{
	display:none;
}
div.leave div.form div.check_submit br{
	display:none;
}
p.logedin{
	padding:15px 0 0 15px;
}

div.main div.content_holder div.content div.left_column div.post ul li div.li_cont div.paragraph ul {
list-style-type: disc !important;
list-style-position: inside !important;
padding: 0 0 0 10px !important;
margin: 0 !important;
width: 580px !important;
overflow: visible !important;

}

div.main div.content_holder div.content div.left_column div.post ul li div.li_cont div.paragraph ul li {
padding: 10px 0 0 0 !important;
width: 100% !important;
}